<html>
  <head>
    <title></title>
  </head>
  <body text="#000000" bgcolor="#FFFFFF">
    <div style="font-family: arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(220, 237, 229); color: rgb(96, 81, 58);">

      <table style="width: 550px; background-color: rgb(220, 237, 229); font-family: Arial, Helvetica, sans-serif; color: rgb(96, 81, 58); font-size: 10pt;"
      align="center">
        <tbody>
          <tr>
            <td style="font-family: arial, sans-serif; margin: 0px;">
              <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td style="font-family: arial, sans-serif; margin: 0px; background-color: rgb(0, 129, 152);">
                      <br />
                    </td>
                  </tr>
                </tbody>
              </table>
              <table width="100%" align="center" border="0" cellpadding="10" cellspacing="0">
                <tbody>
                  <tr>
                    <td style="font-family: arial, sans-serif; margin: 0px;" valign="top" bgcolor="#FFFFFF">
                    <p>This message was sent to you at the request of CISCO SYSTEMS, INC. to notify you that the electronic
                    shipment information below has been transmitted to UPS. The physical package(s) may or may not have actually
                    been tendered to UPS for shipment. To verify the actual transit status of your shipment, click on the tracking
                    link below or contact CISCO SYSTEMS, INC. directly.</p>
                    <p>
                      <b>
                        <big>Important Delivery Information</big>
                      </b>
                    </p>
                    <hr width="100%" />
                    <table border="0"></table>
                    <p>
                    <b>Scheduled Delivery:</b> 7-June-2013</p>
                    <p>
                      <b>
                        <big>Shipment Detail</big>
                      </b>
                    </p>
                    <hr width="100%" />
                    <b>Ship To:</b>
                    <span class="Apple-converted-space"></span>
                    <br />CITY OF CENTRAL POINT
                    <span class="Apple-converted-space"></span>
                    <br />140 S 3RD ST
                    <span class="Apple-converted-space"></span>
                    <br />CENTRAL POINT
                    <span class="Apple-converted-space"></span>
                    <br />OR
                    <span class="Apple-converted-space"></span>
                    <br />97502
                    <span class="Apple-converted-space"></span>
                    <br />US
                    <table border="0">
                      <tbody>
                        <tr>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <b>Number of Packages:</b>
                          </td>
                          <td style="font-family: arial, sans-serif; margin: 0px;">1</td>
                        </tr>
                        <tr>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <b>UPS Service:</b>
                          </td>
                          <td style="font-family: arial, sans-serif; margin: 0px;">NEXT DAY AIR</td>
                        </tr>
                        <tr>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <b>Weight:</b>
                          </td>
                          <td style="font-family: arial, sans-serif; margin: 0px;">1.0 LBS</td>
                        </tr>
                        <tr>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <br />
                          </td>
                        </tr>
                        <tr>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <b>Tracking Number:</b>
                          </td>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <a href="__URL__"
                            target="_blank" style="color: rgb(17, 85, 204);">1Z6Y56130156663768</a>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <b>Reference Number 1:</b>
                          </td>
                          <td style="font-family: arial, sans-serif; margin: 0px;">57120</td>
                        </tr>
                        <tr>
                          <td style="font-family: arial, sans-serif; margin: 0px;">
                            <b>Reference Number 2:</b>
                          </td>
                          <td style="font-family: arial, sans-serif; margin: 0px;">52461</td>
                        </tr>
                      </tbody>
                    </table>
                    <p>
                    <a href="__URL__"
                    target="_blank" style="color: rgb(17, 85, 204);">Click here</a>
                    <span class="Apple-converted-space"></span>to track if UPS has received your shipment or visit
                    <span class="Apple-converted-space"></span>
                    <br />
                    <a href="__URL__"
                    target="_blank" style="color: rgb(17, 85, 204);">http://www.ups.com/
                    <wbr />WebTracking/track?loc=en_US</a>
                    <span class="Apple-converted-space"></span>on the Internet.
                    <span class="Apple-converted-space"></span>
                    <br />
                    <br /></p>
                    <hr width="100%" />
                    <br />
                    <br />
                    <font color="#FFFFFF">____2RR2RR29o95wcM____</font></td>
                  </tr>
                </tbody>
              </table>
              <table width="100%" align="center" bgcolor="#FFFFFF" border="0" cellpadding="10" cellspacing="0">
                <tbody>
                  <tr>
                    <td style="font-family: arial, sans-serif; margin: 0px;" valign="top">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td style="font-family: arial, sans-serif; margin: 0px;">Discover more about UPS:
                            <span class="Apple-converted-space"></span>
                            <br />
                            <a href="__URL__"
                            target="_blank" style="color: rgb(17, 85, 204);">Visit www.ups.com</a>
                            <br />
                            <a href="__URL__"
                            target="_blank" style="color: rgb(17, 85, 204);">Sign Up For Additional E-Mail From UPS</a>
                            <br />
                            <a href="__URL__"
                            target="_blank" style="color: rgb(17, 85, 204);">Read Compass Online</a>
                            <br /></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td style="font-family: arial, sans-serif; margin: 0px; font-size: 8pt;" valign="top">
                    <br />
                    <hr noshade="noshade" /> 2013 United Parcel Service of America, Inc. UPS, the UPS brandmark, and the color
                    brown are trademarks of United Parcel Service of America, Inc. All rights reserved.
                    <span class="Apple-converted-space"></span>
                    <br />For more information on UPS&#39;s privacy practices, refer to the UPS Privacy Policy.
                    <br />Please do not reply directly to this e-mail. UPS will not receive any reply message.
                    <span class="Apple-converted-space"></span>
                    <br />For questions or comments, visit Contact UPS.
                    <br />
                    <br />This communication contains proprietary information and may be confidential. If you are not the intended
                    recipient, the reading, copying, disclosure or other use of the contents of this e-mail is strictly prohibited
                    and you are instructed to please delete this e-mail immediately.</td>
                  </tr>
                  <tr>
                    <td style="font-family: arial, sans-serif; margin: 0px; font-size: 8pt;" valign="top">
                      <a href="__URL__" target="_blank"
                      style="color: rgb(17, 85, 204);">Privacy Policy</a>
                      <br />
                      <a href="__URL__" target="_blank"
                      style="color: rgb(17, 85, 204);">Contact UPS</a>
                      <br />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>

